/* Practice Style */

body { 
	background-color: black;
	color: red;
}

h1 {
	font-family: Arial;
	text-decoration: underline;
}

img {
	width: 100%;
	height: 55%;
}

a {
	text-decoration: none;
}

ul li {
	list-style-type: none;
}
#first {
	font-size: 25px;
}

.even {
	background-color: White;
}
#last{
	font-style:comic;
}